<?xml version="1.0" encoding="utf-8"?>
<configuration>


    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
        <appender name="console" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="file" type="log4net.Appender.RollingFileAppender">
            <file value="C:\GymCastillo\Logs\Logger.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="4MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
    </log4net>

    <!-- Configuración de la aplicación  -->

    <appSettings>

        <add key="log4net.Config" value="log4net.config"/>
        <add key="log4net.Config.Watch" value="True"/>

        <add key="DbUser" value="root"/>
        <add key="DbPass" value="root"/>
        <add key="PrecioLocker" value="50"/>
        <add key="DescuentoRetardo" value="50"/>
    </appSettings>
</configuration>